<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DepoEntities" connectionString="metadata=res://*/depo.csdl|res://*/depo.ssdl|res://*/depo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M2FJ9SG\OGUZHAN;initial catalog=Depo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DepoEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M2FJ9SG\OGUZHAN;initial catalog=Depo;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DepoEntities2" connectionString="metadata=res://*/Depo.csdl|res://*/Depo.ssdl|res://*/Depo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-M2FJ9SG\OGUZHAN;initial catalog=Depo;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DepoEntities3" connectionString="metadata=res://*/Depo.csdl|res://*/Depo.ssdl|res://*/Depo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1H088T4\SA;initial catalog=Depo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DepoEntities4" connectionString="metadata=res://*/Depo.csdl|res://*/Depo.ssdl|res://*/Depo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1H088T4\SA;initial catalog=Depo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>